main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-info {
  background-color: whitesmoke;
  padding: 0.25rem;
  padding: 1.25rem;
  border-radius: 5px;
  box-shadow: 3px 3px #181818;
}

.shop-link-p {
  margin-top: 1rem;
}