.shop-container {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 1000px;
    gap: 15px;
}

.item-div {
    max-width: 300px;
    background-color: rgb(201, 201, 201);
    padding: 1.25rem;
    border-radius: 5px;
    box-shadow: 3px 3px #181818;
    text-align: center;
}

.item-div img {
    margin-bottom: 0.5rem;
}

.item-div button {
    margin-top: 0.5rem;
}